<div class="auth-bg">

    <div class="auth-card card">

        <div class="card-body">

            <div class="text-center">

                <img src="images/logo.png"  style="width: 120px;">

                <h4 class="card-title text-theme-primary fw-semibold mb-3 mt-4 text-app-secondary">Forget password</h4>
                
                <h6 class="card-title text-light-emphasis opacity-50 mb-3 fw-normal">Please enter your email to receive a confirmation code to set a new password</h6>

            </div>
            
            <form [formGroup]="forgetPwdForm" class="py-4">
            
                <div class="form-group">
            
                    <label for="email"> Email address </label>
            
                    <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter your email address" [ngClass]="{ 'is-invalid': (formSubmitted || f.email.touched) && f.email.errors }">
            
                    <div *ngIf="(formSubmitted || f.email.touched) && f.email.errors" class="d-block invalid-feedback">
            
                        <div *ngIf="f.email.errors.required && !f.email.errors.email">Email is required</div>
            
                        <div *ngIf="f.email.errors.email && !f.email.errors.required">Email must be a valid email address</div>
            
                    </div>
            
                </div>
            
                <button class="btn btn-primary btn-lg w-100 mt-5 mb-3 fs-6" [disabled]="(formSubmitted && forgetPwdForm.invalid) || isLoading" (click)="submit()">
                    
                    <ng-container *ngIf="!isLoading">SEND OTP</ng-container>
            
                    <div class="spinner-border text-white-50" *ngIf="isLoading" role="status">
            
                        <span class="visually-hidden">Loading...</span>
            
                    </div>
                
                </button>
            
            </form>                    

        </div>

    </div>

</div>

