
<div class="container mt-5">

    <div class="card shadow border-0 rounded-2">
    
        <div class="card-header bg-white pb-0 my-0 d-flex align-items-center" style="height: 60px !important;">
    
            <div class="d-flex align-items-center">
    
                <i class="bi bi-chevron-left border-end border-2 pe-3"></i>
    
                <span class="header " style="font-size: 20px;font-weight: 600;"><span class="text-dark ps-3">Settings</span></span>
    
            </div>
            
        </div> 

        <div class="p-3">

            <div class="settings-item d-flex justify-content-between align-items-center border-bottom" >

                <div class="d-flex align-items-center p-3">

                    <i class="bi bi-bell text-warning me-2"></i>

                    <span>Push Notification</span>

                </div>

                <div>

                    <div class="form-check form-switch">

                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>

                    </div>

                </div>
                
            </div>

            <div class="settings-item d-flex justify-content-between align-items-center border-bottom" >

                <div class="d-flex align-items-center p-3"> 

                    <i class="bi bi-gear  text-warning me-2"></i>

                    <span>Settings</span>

                </div>

                <div>

                    <div class="form-check form-switch">

                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                        
                    </div>

                </div>
                
            </div>

            <div class="settings-item d-flex justify-content-between align-items-center " >

                <div class="d-flex align-items-center p-3">

                    <i class="bi bi-globe text-warning me-2"></i>

                    <span>Language</span>

                </div>

                <div class="me-3">

                    <i class="bi bi-chevron-down"></i>

                </div>
                
            </div>
    
        </div>
    
    </div>
    
</div>

