<div class="auth-bg">

    <div class="card auth-card" [formGroup]="registerForm">

        <div class="card-header bg-white border-0 p-4 d-flex align-items-center">

            <a routerLink="/auth/validate-inn"><i class="bi bi-chevron-left fs-5 fw-bolder mb-3"></i></a>

            <img src="/images/full-logo.png" alt="logo" class="m-auto d-block my-4">

        </div>

        <div class="card-body px-4 px-lg-5">

            <p class="text-start card-title">Registration</p>

            <div class="mx-auto mt-5" style="width: 100%;">

                <div class="input-group mb-3">

                    <span class="input-group-text"><i class="bi bi-postcard"></i></span>

                    <div class="form-floating">

                        <input type="text" class="form-control" id="inn" placeholder="" formControlName="innNo">
                        
                        <label for="inn">INN Number <span class="text-danger">*</span></label>

                    </div>

                </div>

                <div class="input-group mb-3">

                    <span class="input-group-text"><i class="bi bi-lock"></i></span>

                    <div class="form-floating">

                        <input type="{{showPassword ? 'text' : 'password'}}" class="form-control" id="password" formControlName="password" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

                        <label for="password">Password <span class="text-danger">*</span></label>

                    </div>

                    <a class="input-group-text ps-1" (click)="showPassword = !showPassword">

                        <i class="bi" [ngClass]="showPassword ? ' bi-eye' : 'bi-eye-slash'"></i>

                    </a>

                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
    
                        <div *ngIf="f.password.errors.required"> Password is required</div>
                    
                        <div *ngIf="f.password.errors.pattern">Password must contain at least one uppercase letter and one special character</div>
                    
                        <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters long</div>
                    
                    </div> 

                </div>

                <div class="input-group mb-3">

                    <span class="input-group-text"><i class="bi bi-lock"></i></span>

                    <div class="form-floating">

                        <input type="{{showConfirmPassword ? 'text': 'password'}}" class="form-control" id="confirmPassword" placeholder="" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">

                        <label for="confirmPassword">Confirm Password <span class="text-danger">*</span></label>

                    </div>

                    <a class="input-group-text ps-1" (click)="showConfirmPassword = !showConfirmPassword">

                        <i class="bi" [ngClass]="showConfirmPassword ? ' bi-eye' : 'bi-eye-slash'"></i>

                    </a>

                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
    
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>

                    </div>

                    <div *ngIf="registerForm.errors?.['matchValidator'] && submitted" class="invalid-feedback">

                        Passwords do not match.

                    </div>
                      
                </div>

                <div style="margin-left: -0.5rem;">

                    <mat-checkbox>

                        I accept all <a class="text-app-secondary">terms and condition</a>

                    </mat-checkbox>

                </div>

            </div>

        </div>
        
        <div class="card-footer bg-white border-0 text-center p-5">

            <a class="btn btn-lg btn-success w-100"  (click)="submit()">Submit</a>

            <div class="d-flex justify-content-between mx-auto mt-4 pt-5 pb-3" style="max-width: 360px;">

                <a href="https://abn.kg/" target="_blank">

                    <img src="/images/about-abn.png" alt="logo" class="d-block mb-2">

                    <p class="text-app-secondary">About</p>

                </a>

                <a href="https://abn.kg/#!/tab/678312214-1" target="_blank">

                    <img src="/images/product.png" alt="logo" class="d-block mb-2">

                    <p class="text-app-secondary">Products</p>

                </a>

                <a href="https://abn.kg/about" target="_blank">

                    <img src="/images/abn24.png" alt="logo" class="d-block mb-2">

                    <p class="text-app-secondary">ABN24</p>

                </a>

            </div>

            <a href="https://abn.kg/" target="_blank" class="text-app-primary small">click here for learn more about ABN</a>

        </div>

    </div>

</div>