<div class="auth-bg">

    <form class="card auth-card" [formGroup]="validationForm">

        <div class="card-header bg-white border-0 p-4 d-flex align-items-center">

            <a routerLink="/auth/select-ln"><i class="bi bi-chevron-left fs-5 fw-bolder mb-3"></i></a>

            <img src="/images/full-logo.png" alt="logo" class="m-auto d-block my-4">

        </div>

        <div class="card-body px-4 px-lg-5">

            <p class="text-start card-title">Mobile Number</p>

            <p>Please enter your mobile number to receive a confirmation code to Register your details</p>

            <div class="mx-auto mt-5" style="width: 100%;">

                <div class="input-group mb-3">

                    <span class="input-group-text"><i class="bi bi-phone"></i></span>

                    <div class="form-floating">

                        <input type="text" class="form-control" id="mobileNo" placeholder="" maxlength="15" formControlName="mobileNo" [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }">
                        
                        <label for="mobileNo">Mobile Number <span class="text-danger">*</span></label>

                    </div>

                    <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">

                        <span *ngIf="f.mobileNo.errors.required">Mobile number is required.</span>

                        <span *ngIf="f.mobileNo.errors.invalidFormat">{{ f.mobileNo.errors.invalidFormat }}</span>

                        <span *ngIf="f.mobileNo.errors.invalidMobile">{{ f.mobileNo.errors.invalidMobile }}</span>
                        
                    </div>
                    
                </div>

            </div>

        </div>

        <div class="card-footer bg-white border-0 text-center p-5">
            
            <a type="submit" class="btn btn-lg btn-success w-100" (click)="sendOtp()" >Send OTP</a>

            <div class="d-flex justify-content-between mx-auto mt-4 pt-5 pb-3" style="max-width: 360px;">

                <a href="https://abn.kg/" target="_blank">

                    <img src="/images/about-abn.png" alt="logo" class="d-block mb-2">
                    
                    <p class="text-app-secondary">About</p>

                </a>

                <a href="https://abn.kg/#!/tab/678312214-1" target="_blank">

                    <img src="/images/product.png" alt="logo" class="d-block mb-2">

                    <p class="text-app-secondary">Products</p>

                </a>

                <a href="https://abn.kg/about" target="_blank">

                    <img src="/images/abn24.png" alt="logo" class="d-block mb-2">

                    <p class="text-app-secondary">ABN24</p>

                </a>

            </div>

            <a href="https://abn.kg/" target="_blank" class="text-app-primary small">click here for learn more about ABN</a>

        </div>

    </form>

</div>