<div class="header" style="z-index: 2000 !important;position: sticky !important;">
    
    <div class="left-section">

        <img class="ms-5" src="images/logo2.png" style="width: 108px;" alt="">

            <div class="position-relative">

                <img src="images/search.png" class="position-absolute search-icon" width="16" alt="Search">
                
                <input type="text" class="form-control" placeholder="Search here..." style="background: transparent !important; border-radius: 8px !important; padding-left: 40px;color: white;">

            </div>

        </div>

    <div class="right-section">

        <small class="text-white">Your trial expires in 5 days. <a href="#" class="upgrade-link">Upgrade</a></small>

        <div class="icon">

            <img src="images/india.png" style="width: 20px;"alt="">

        </div>

        <!-- <div class="icon" (click)="toggleBrightness()">

            <img src="images/brightness.png" style="width: 15px;" alt="">

        </div> -->

        <div class="icon">

            <img src="images/bell.png" style="width: 15px;" alt="">

        </div>
        
        </div>
        
</div>