.form-check-input {

    border: 2px solid #888888;
    transform: scale(1.1); // Increase size (1.5x)
    margin: 5px; // Optional: spacing
    
}

:host ::ng-deep .form-check-input:checked {
    background-color: #d4a017 !important;
    border-color: #d4a017 !important;
    
}
