<div class="container-fluid">

    <div class="d-flex justify-content-between mb-3">

        <h5 class="text-dark">{{ mode }} Payment</h5>

        <small><span class="text-primary">Rental</span><img src="images/breadcrumbs.png" alt="" style="width: 16px;" class="ms-1 me-1"> <span class="text-primary" style="cursor: pointer;" (click)="this.service.navigate({ 'url': 'app/payment/rent' })">Rental List</span> <img src="images/breadcrumbs.png" alt="" style="width: 16px;" class="ms-1 me-1"> <span class="text-dark">Update Paymemt</span></small>

    </div>

    <div class="row">

        <div class="col-md-8">

            <form  *ngIf="!_.isEmpty(paymentForm.value)" [formGroup]="paymentForm"  class="horizontal-form-fields">
    
                <div class="card border-0" style="box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.051);">
    
                    <div class="card-header bg-white">
        
                        <div class="d-flex justify-content-between align-items-center" style="height: 40px;">
          
                            <h6 class="ps-2 my-0" style="font-weight: 600; border-left: 3px solid #D2A119;">Payment :</h6>
                          
                          </div>
                          
                    </div>
    
                    <div class="card-body">
    
                        <div class="row">

                            <!-- Payment Container -->
                            <ng-container>

                                <div>

                                    <span *ngIf="this.editData?.contractId?.freeMonths"><h6 class="mb-3 mt-2">Available Free Rent Balance - {{ this.editData?.contractId?.freeMonths }}</h6></span>

                                    <div class="d-flex align-items-center mt-2 mb-3" *ngIf="this.editData?.contractId?.freeMonths">
    
                                        <h6 class="mb-0 me-3">Adjust Free Rent :</h6>
                                    
                                        <div class="d-flex align-items-center justify-content-between" style="min-width: 110px;">
                                        
                                            <span>No</span>
                                        
                                            <div class="form-check form-switch">
                                        
                                                <!-- <input class="form-check-input" type="checkbox" [(ngModel)]="isFreeRent" [ngModelOptions]="{standalone: true}" id="flexSwitchCheckDefault"> -->

                                                <input class="form-check-input" type="checkbox" formControlName="isFreeRent" id="flexSwitchCheckDefault" (click)="changeValue({fieldName: 'isFreeRent'})">
                                        
                                            </div>
                                    
                                            <span>Yes</span>
                    
                                        </div>
                    
                                    </div>

                                </div>
                                
                                <div class="col-md-3">
        
                                    <div class="form-group required mb-3">
        
                                        <label for="dueDate" class="mb-2">Due Date</label>
        
                                        <input type="text" class="form-control" id="dueDate" formControlName="dueDate" placeholder="" [value]="this.editData.dueDate | date: 'dd-MM-yyyy'" [ngClass]="{ 'is-invalid': (f.dueDate?.touched || formSubmitted) && f.dueDate.errors }" readonly>
        
                                        <div *ngIf="(f.dueDate?.touched || formSubmitted) && f.dueDate.errors" class="invalid-feedback">
            
                                            <div *ngIf="f.dueDate.errors.required">Due Date is required</div>
                    
                                        </div>
        
                                    </div>
        
                                </div>

                                <div class="col-md-3">

                                    <div class="form-group required mb-3">

                                        <label for="amountDue" class="mb-2">Amount Due</label>

                                        <input type="text" class="form-control" id="amountDue" formControlName="amountDue" placeholder="" [ngClass]="{ 'is-invalid': (f.amountDue?.touched || formSubmitted) && f.amountDue.errors }" readonly>

                                        <div *ngIf="(f.amountDue?.touched || formSubmitted) && f.amountDue.errors" class="invalid-feedback">
            
                                            <div *ngIf="f.amountDue.errors.required">Amount Due is required</div>
                    
                                        </div>

                                    </div>

                                </div>

                                <div class="col-md-3">

                                    <div class="form-group required mb-3">
                                    
                                        <label for="paymentDate" class="mb-2">Payment Date</label>
                                
                                        <div class="input-group">
                                        
                                            <input type="text" class="form-control" id="paymentDate" autocomplete="off" formControlName="paymentDate" [matDatepicker]="picker1" [ngClass]="{ 'is-invalid': formSubmitted && f.paymentDate.errors }" placeholder="Select Payment Date"/>
                                    
                                            <mat-datepicker-toggle matSuffix [for]="picker1" class="input-group-text border" style="border-radius: 0px 5px 5px 0px !important; height: 38px">

                                                <ng-container matDatepickerToggleIcon>
                                                    
                                                    <i class="bi bi-calendar4-week fs-5 text-center"></i>
                                                
                                                </ng-container>
                                                
                                            </mat-datepicker-toggle>
                                    
                                            <mat-datepicker #picker1></mat-datepicker>

                                            <div *ngIf="(f.paymentDate?.touched || formSubmitted) && f.paymentDate.errors" class="invalid-feedback">
            
                                                <div *ngIf="f.paymentDate.errors.required">Payment Date is required</div>
                        
                                            </div>

                                        </div>
                                    
                                    </div>
                                
                                </div>

                                <div class="col-md-3">

                                    <div class="form-group required mb-3">

                                        <label for="amountPaid" class="mb-2">Amount Paid</label>

                                        <input type="text" class="form-control" id="amountPaid" formControlName="amountPaid" placeholder="Enter Amount" [ngClass]="{ 'is-invalid': (f.amountPaid?.touched || formSubmitted) && f.amountPaid.errors }" numbersOnly [readOnly]="this.paymentForm.get('isPdc')?.value == true || this.paymentForm.get('isFreeRent')?.value == true">

                                        <!-- <div *ngIf="(f.amountPaid?.touched || formSubmitted) && f.amountPaid.errors" class="invalid-feedback">
            
                                            <div *ngIf="f.amountPaid.errors.required">Amount Paid is required</div>
                    
                                        </div> -->

                                        <div *ngIf="(f.amountPaid?.touched || formSubmitted) && f.amountPaid.errors" class="invalid-feedback">

                                            <div *ngIf="f.amountPaid.errors.required">Amount Paid is required</div>

                                            <div *ngIf="f.amountPaid.errors.amountExceedsDue">Exceeds due amount</div>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-md-3">

                                    <div class="form-group mb-3">

                                        <label for="amountOuts" class="mb-2">Amount Outstanding</label>

                                        <input type="text" class="form-control" id="amountOutstanding" formControlName="amountOutstanding" placeholder="Enter Amount" readonly numbersOnly>

                                    </div>

                                </div>
                                
                                <div class="col-md-3">
        
                                    <div class="form-group mb-3">

                                        <label for="paymentMode" class="mb-2">Payment Mode</label>

                                        <ng-select name="paymentMode" id="paymentMode" class="form-control" formControlName="paymentMode" [ngClass]="{ 'is-invalid': (f.paymentMode?.touched || formSubmitted) && f.paymentMode.errors }" appendTo="body" [clearable]="false" placeholder="Select Payment Mode">

                                            <ng-option *ngFor="let paymentMode of paymentModeList" [value]="paymentMode?.value">{{ paymentMode.label }}</ng-option>

                                        </ng-select>

                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="form-group mb-3">

                                        <label for="refNo" class="mb-2">Reference Number</label>

                                        <input type="text" class="form-control" id="refNo" formControlName="refNo" placeholder="Enter Ref No" [ngClass]="{ 'is-invalid': (f.refNo?.touched || formSubmitted) && f.refNo.errors }">

                                    </div>

                                </div>

                            </ng-container>

                            <!-- PDC Container -->
                            <ng-container>
                                
                                <ng-container *ngIf="this.paymentForm?.get('isFreeRent')?.value == false">

                                    <div class="d-flex align-items-center mt-3 mb-4" *ngIf="this.paymentForm?.get('paymentMode')?.value == 'cheque'">
    
                                        <h6 class="mb-0 me-3">Use PDC :</h6>
                                      
                                        <div class="form-check">
    
                                          <!-- <input class="form-check-input custom-checkbox" type="checkbox" id="isPdc" [(ngModel)]="isPdc" [ngModelOptions]="{standalone: true}" name="isPdc"> -->
    
                                          <input class="form-check-input custom-checkbox" type="checkbox" id="isPdc" formControlName="isPdc" (click)="changeValue({fieldName: 'isPdc'})">
                                        
                                        </div>
                                      
                                    </div>

                                    <div class="col-md-3" *ngIf="this.paymentForm?.get('paymentMode')?.value != 'cash'">

                                        <div class="form-group required mb-3">

                                            <label for="transactionId" class="mb-2">Transaction Id</label>

                                            <input type="text" class="form-control" id="transactionId" formControlName="transactionId" placeholder="Enter Transaction Id" [ngClass]="{ 'is-invalid': (f.transactionId?.touched || formSubmitted) && f.transactionId.errors }">

                                            <div *ngIf="(f.transactionId?.touched || formSubmitted) && f.transactionId.errors" class="invalid-feedback">
                
                                                <div *ngIf="f.transactionId.errors.required">Transaction Id is required</div>
                        
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-3" *ngIf="this.paymentForm?.get('paymentMode')?.value == 'netBanking'">

                                        <div class="form-group required mb-3" >

                                            <label for="accountNo" class="mb-2">Account Number</label>

                                            <input type="text" class="form-control" id="accountNo" formControlName="accountNo" placeholder="Enter Account No" [ngClass]="{ 'is-invalid': (f.accountNo?.touched || formSubmitted) && f.accountNo.errors }">

                                            <div *ngIf="(f.accountNo?.touched || formSubmitted) && f.accountNo.errors" class="invalid-feedback">
                
                                                <div *ngIf="f.accountNo.errors.required">Account Number is required</div>
                        
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-3" *ngIf="this.paymentForm?.get('paymentMode')?.value == 'cheque'">

                                        <div class="form-group required mb-3" >

                                            <label for="refNo" class="mb-2">Reference Number</label>

                                            <input type="text" class="form-control" id="refNo" formControlName="refNo" placeholder="Ref No" [ngClass]="{ 'is-invalid': (f.refNo?.touched || formSubmitted) && f.refNo.errors }">

                                            <div *ngIf="(f.refNo?.touched || formSubmitted) && f.refNo.errors" class="invalid-feedback">
                
                                                <div *ngIf="f.refNo.errors.required">Reference Number is required</div>
                        
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-3" *ngIf="this.paymentForm?.get('paymentMode')?.value != 'cash' && this.paymentForm?.get('paymentMode')?.value != 'upi'">
                
                                        <div class="form-group required mb-3">
            
                                            <label for="bank" class="mb-2">Bank</label>
            
                                            <input type="text" class="form-control" id="bank" formControlName="bank" placeholder="Enter Bank" [ngClass]="{ 'is-invalid': (f.bank?.touched || formSubmitted) && f.bank.errors }">
            
                                            <div *ngIf="(f.bank?.touched || formSubmitted) && f.bank.errors" class="invalid-feedback">
                
                                                <div *ngIf="f.bank.errors.required">Bank is required</div>
                        
                                            </div>
            
                                        </div>
            
                                    </div>

                                    <div class="col-md-3">
            
                                        <div class="form-group required mb-3" *ngIf="this.paymentForm?.get('paymentMode')?.value != 'cash' && this.paymentForm?.get('paymentMode')?.value != 'upi'">
            
                                            <label for="bankBranch" class="mb-2">Branch</label>
            
                                            <input type="text" class="form-control" id="bankBranch" formControlName="bankBranch" placeholder="Enter Branch" [ngClass]="{ 'is-invalid': (f.bankBranch?.touched || formSubmitted) && f.bankBranch.errors }">
            
                                            <div *ngIf="(f.bankBranch?.touched || formSubmitted) && f.bankBranch.errors" class="invalid-feedback">
                
                                                <div *ngIf="f.bankBranch.errors.required">branch is required</div>
                        
                                            </div>
            
                                        </div>
            
                                    </div>

                                    <div class="col-md-3" *ngIf="this.paymentForm?.get('paymentMode')?.value == 'cheque'">
            
                                        <div class="form-group required mb-3">
            
                                            <label for="chequeNo" class="mb-2">Cheque No</label>
            
                                            <input type="text" class="form-control" id="chequeNo" formControlName="chequeNo" placeholder="Enter Cheque No" [ngClass]="{ 'is-invalid': (f.chequeNo?.touched || formSubmitted) && f.chequeNo.errors }">
            
                                            <div *ngIf="(f.chequeNo?.touched || formSubmitted) && f.chequeNo.errors" class="invalid-feedback">
                
                                                <div *ngIf="f.chequeNo.errors.required">Cheque No is required</div>
                        
                                            </div>
            
                                        </div>
            
                                    </div>

                                    <div class="col-md-3"></div>
                                    
                                </ng-container>

                                <div class="col-md-12">

                                    <div class="form-group mb-3">

                                        <label for="otherDetails" class="mb-2">Other Details</label>
                                    
                                        <textarea class="form-control" id="otherDetails" formControlName="otherDetails" rows="3" [ngClass]="{ 'is-invalid': (f.otherDetails?.touched || formSubmitted) && f.otherDetails.errors }" placeholder="Enter Other Details...."></textarea>
                                  
                                    </div>

                                </div>
                                
                            </ng-container>

                        </div>
    
                    </div>
    
                </div>
    
            </form>

            <div class="d-flex justify-content-end mt-3 mb-3">

                <button class="btn btn-outline-secondary mt-3 ms-2" (click)="this.service.navigate({ 'url': 'app/payment/rent' })">Discard</button>

                <button class="btn btn-secondary mt-3 mx-2" (click)="submitPayment()">Save</button>

            </div>

        </div>

    </div>
    
</div>
